/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	display: flex;
	flex-direction: column;
}

.header{
	height: 50px;
	width: 100%;
	background-color: #6BBF9A;
	position: fixed;
	display: flex;
	justify-content: center;
	z-index: 1;
}

.headerSnap{
	display: block;
	position: absolute;
	overflow: hidden;
}

.flex {
  display: flex;
  flex-direction: column;
}

#home {
	background-image: url('../images/map.jpg');
	background-size: auto;
	background-position: 2450px 1130px;
	background-attachment: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #E2CB90;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.logo {
	margin-top: 35vh;
}

.logo #slogan{
	/*margin-top: 1vh;*/
	font-size: 35px;
}

.logo p{
	text-align: center;
	font-size: 115px;
	font-family: 'Buda', cursive;
	font-weight: 500;
}

.page2 {
	background-image: url('../images/barwall.jpg');
	background-size: 100vw 100vh;
	background-position: 2375px ;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.fullShelf{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 110px;
}
.shelf{
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: -200px;
	width: 500px;
	height: 250px;
	z-index: 1;
}
.shelf img{
	filter: saturate(19) sepia(100%);
	width: 650px;
	height: 440px;
	/*position: absolute;*/
}

.bottles{
	width: 500px;
	height: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}

.description{
	background-color: white;
	width: 80vw;
	height: 30vh;
	margin-bottom: 35vh;
}

#absynth{
	background-image: url('../images/absynth.png');
	height: 290px;
	background-size: 175px;
	background-repeat: no-repeat;
	width: 10vw;
	margin-bottom: 250px;
}
#marion{
	background-image: url('../images/marion.png');
	height: 220px;
	background-size: contain;
	background-repeat: no-repeat;
	width: 10vw;
	margin-bottom: 270px;

}
#rum{
	background-image: url('../images/rum.png');
	height: 190px;
	background-size: contain;
	background-repeat: no-repeat;
	width: 10vw;
	margin-top: 35px;
	margin-left: 10px;
	margin-bottom: 250px;

}
#vodka{
	background-image: url('../images/vodka.png');
	height: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	width: 10vw;
	margin-bottom: 250px;

}


.map{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2vh;
}

#map {
	width: 75vw;
	height: 75vh;
	background-color: grey;
	margin-top: 12.5vh;
}

.page3{
	height: 100vh;
  width: 100vw;
  background-color: #E2CB90;
	background-image: url('../images/map.jpg');
	background-size: auto;
	background-position: 2450px 1130px;
	background-attachment: fixed;
}

.header div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*width: 20vw;*/
	height: inherit;
	/*border-radius: 7px;*/
	/*transition: 0.2s;*/
}
.header div a{
	font-family: 'Buda', cursive;
	text-decoration: none;
	font-size: 25px;
	color: black;
  background-color: #6BBF9A;
	/*border-radius: 7px;*/
	width: 15vw;
	height: inherit;
	padding-top: 12.5px;
	text-align: center;
	transition: .2s;
}

.header a:hover{
	color: black;
	background-color: #EFE1C2;
}
.header a:focus{
	color: black;
	background-color: #EFE1C2;
}
