#home {
	background-color: rgba(255 ,255 ,255, 1);
	background-image: url('../images/map.jpg');
	background-size: auto;
	background-position: 2450px 1130px;
	background-attachment: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #E2CB90;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.logo {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 4vh;
}

.logo #slogan{
	font-size: 35px;
	z-index: 1;
}

.logo p{
	text-align: center;
	font-size: 115px;
	font-family: 'Buda', cursive;
	font-weight: 500;
	z-index: 1
}
